.controller.custom {
    background-image: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/base.svg);
	background-repeat: no-repeat;
	background-size: 457px 381px;
    height: 381px;
    width: 457px;
	margin-left: 0;
    margin-top: 0;
}

.custom.disconnected {

}

.custom.disconnected div {
    display: none;
}

.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 339.954px;
    height: 88.563px;
    position: absolute;
    left: 58.529px;
}

.custom .trigger {
    width: 88.563px;
    height: 69.412px;
    opacity: 1;
}

.custom .trigger[data-value="0"] {
    opacity: 0;
}

.custom .trigger.left {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/lt-pressed.svg);
    float: left;
}

.custom .trigger.left.pressed {
	
}

.custom .trigger.right {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/rt-pressed.svg);
    float: right;
}

.custom .trigger.right.pressed {

}

.custom .bumpers {
    width: 340.979px;
    height: 20.208px;
    left: 58.645px;
    position: absolute;
	top: 82.932px;
}

.custom .bumper {
    width: 94.379px;
    height: 20.208px;
    opacity: 0;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/lb-pressed.svg) no-repeat;
    float: left;
}

.custom .bumper.right {
    float: right;
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/rb-pressed.svg) no-repeat;
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 74.845px;
    height: 36px;
    top: 150.76px;
    left: 191.25px;
}

.custom .back {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/start-select.svg) no-repeat;
    width: 33.475px;
    height: 11.705px;
    opacity: 0;
}
.custom .start {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/start-select.svg) no-repeat;
    width: 33.475px;
    height: 11.705px;
    opacity: 0;
}
.custom .back.pressed, .start.pressed {
    opacity: 1;
}

.custom .back {
    float: left;
}

.custom .start {
    float: right;
}

.custom .abxy {
    position: absolute;
    width: 130px;
    height: 150px;
	top: 111.615px;
    left: 302.241px;
}

.custom .button {
    position: absolute;
    width: 31.597px;
    height: 31.597px;*/
    /* display: none; */
}
	
.custom .button.pressed {
    opacity: 1;
}

.custom .a {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/a.svg);
    top: 31.174px;
    left: 71.222px;
}

.custom .a.pressed {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/a-pressed.svg);
}

.custom .b {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/b.svg);
    top: 62.339px;
    left: 35.55px;
}

.custom .b.pressed {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/b-pressed.svg);
}

.custom .x {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/x.svg);
    left: 35.55px;
}

.custom .x.pressed {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/x-pressed.svg);
}

.custom .y {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/y.svg);
    top: 30.886px;
}

.custom .y.pressed {
	background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/y-pressed.svg);
}

.custom .sticks {
    position: absolute;
    top: 205.988px;
    left: 146.183px;
}

.custom .stick {
    position: absolute;
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/stick.svg) no-repeat;
    height: 35.321px;
    width: 35.709px;
}

.custom .stick.pressed {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/stick-pressed.svg) no-repeat;
}

.custom .stick.left {
    
}

.custom .stick.right {
    left: 129.085px;
}

.custom .dpad {
    position: absolute;
    width: 71.542px;
    height: 71.945px;
    top: 122.82px;
    left: 67.632px;
}

.custom .face {
    position: absolute;
    opacity: 0;
}

.custom .face.pressed {
    opacity: 1;
}

.custom .face.up {
    width: 71.542px;
    height: 36.714px;
}

.custom .face.up.pressed {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/up-pressed.svg) no-repeat;
}

.custom .face.down {
	top: 34.714px;
    width: 71.542px;
    height: 36.714px;
}

.custom .face.down.pressed {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/down-pressed.svg) no-repeat;
}

.custom .face.left {
    width: 36.714px;
    height: 71.542px;
}

.custom .face.left.pressed {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/left-pressed.svg) no-repeat;
}

.custom .face.right {
    width: 36.714px;
    height: 71.542px;
    left: 34.714px;
}

.custom .face.right.pressed {
    background: url(https://cdn.jsdelivr.net/gh/troytjh/8bitdopro2-gpv-skin/images/buttons/right-pressed.svg) no-repeat;
}
